Screen {
    layout: vertical;
}

TrackInformation {
    height: 7;
    border: solid white;
    content-align: center top;
}

PlayerControls {
    layout: horizontal;
    height: 3;
    width: 100vw;
    align-horizontal: center;
}

TrackList {
    height: 1fr;
    width: 100%;
}

#playlist {
    height: 1fr;
    width: 100vw;
    min-width: 100%;
}

DataTable {
    width: 100vw;
}

#track_name, #artist_name, #album_name {
    content-align: center middle;
}

ProgressBar {
    content-align: center middle;
    background: grey;
    height: 1;
    width: 50vw;
}

ProgressBarTrack {
    color: red;
    background: white;
    height: 1;
    width: 100%;
}

#play {
}

#pause {
}

.container {
    width: auto;
    height: auto;
}

.label {
    height: 3;
    content-align: right middle;
    width: auto;
    padding: 1;
}

TrackProgress {
    layout: horizontal;
    margin-top: 1;
}

#progress_bar {
    width: 3fr;
}

#track_position, #track_length {
    width: 1fr;
    margin-left: 1;
    margin-right: 1;
}
#track_position {
    content-align: right middle;
}
#track_length {
    content-align: left middle;
}
#status {
    background: darkgreen;
    color: silver;
    padding: 0 1;
}
