SongControlBar {
    layout: horizontal;
    padding: 1 2;
    background: $primary-background;
}

SongControlBar Vertical {
    height: auto;
    min-width: 18;
    width: 18;
}

#playback_status {
    content-align: center middle;
    color: gray;
}

PlayerControls {
    layout: horizontal;
    min-width: 18;
    width: 18;
}

PlayerControls Button {
    min-width: 6;
}

TrackInformation {
    width: 1fr;
    padding: 0 2;
    align-horizontal: center;
}

TrackInformation #title,
TrackInformation #artist,
TrackInformation #album {
    content-align: center middle;
}

TrackProgress {
    margin-top: 1;
    layout: horizontal;
    align-horizontal: center;
}

TrackProgress #track_current_time {
    margin-right: 2;
    width: 8;
    content-align: right middle;
}

TrackProgress #track_total_time {
    margin-left: 2;
    width: 8;
    content-align: left middle;
}

FilterInput {
    width: 18;
}

TrackList {
    height: 1fr;
}

.playing #play {
    display: none;
}

.playing #pause {
    display: block;
}

#play, .paused #play {
    display: block;
}

#pause, .paused #pause {
    display: none;
}

BrowserScreen {
    align: center middle;
}

DirectoryBrowser {
    width: 80vw;
    height: 80vh;
    background: $primary-background;
    border: thick $primary;
    padding: 0 1;
}

DirectoryBrowser #browser_directory {
    margin-bottom: 1;
}

DirectoryBrowser Browser {
    height: 1fr;
}

DirectoryControls {
    layout: horizontal;
    margin-top: 1;
}

DirectoryControls #directory_select {
    dock: left;
    background: $success;
}

DirectoryControls #directory_cancel {
    dock: right;
    background: $error;
}

NowPlayingScreen {
    layout: horizontal;
}

NowPlayingScreen Vertical {
    width: 50vw;
    height: 1fr;
    align-vertical: middle;
}
NowPlayingScreen PlayerControls {
    width: 100%;
    margin-top: 3;
    align-vertical: middle;
    align-horizontal: center;
}

NowPlayingScreen SongInformation {
    margin-right: 3;
    padding: 2;
    background: $primary-background;
}

AlbumArtwork {
    width: 50vw;
    height: 1fr;
    align-vertical: middle;
    align-horizontal: center;
}

AlbumArtwork #album_artwork {
    width: 48;
    height: 24;
    content-align: center middle;
    background: $primary-background;
    border: wide $primary;
}

TrackProgress Bar > .bar--indeterminate {
    color: $error-lighten-1;
}

.playing TrackProgress Bar > .bar--bar {
    color: $success-lighten-3;
}

.paused TrackProgress Bar > .bar--bar {
    color: $warning-lighten-1;
}
